In [220]:
import pandas as pd
import numpy as np

In [221]:
dataset = pd.read_csv(r'C:\Users\Nikki\Downloads\UNSW_Dataset1.csv')

In [224]:
dataset.head()

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.121478,tcp,-,FIN,6,4,258,172,74.087490,...,1,1,0,0,0,1,1,0,Normal,0
1,2,0.649902,tcp,-,FIN,14,38,734,42014,78.473372,...,1,2,0,0,0,1,6,0,Normal,0
2,3,1.623129,tcp,-,FIN,8,16,364,13186,14.170161,...,1,3,0,0,0,2,6,0,Normal,0
3,4,1.681642,tcp,ftp,FIN,12,12,628,770,13.677108,...,1,3,1,1,0,2,1,0,Normal,0
4,5,0.449454,tcp,-,FIN,10,6,534,268,33.373826,...,1,40,0,0,0,2,39,0,Normal,0

In [226]:
from sklearn import preprocessing
lb = preprocessing.LabelEncoder()
dataset["attack_cat"]=lb.fit_transform(dataset["attack_cat"])
dataset["proto"]=lb.fit_transform(dataset["proto"])
dataset["service"]=lb.fit_transform(dataset["service"])
dataset["state"]=lb.fit_transform(dataset["state"])

In [227]:
X = dataset.iloc[:, 0:44].values
y = dataset.iloc[:, 44].values

In [228]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [229]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [242]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [246]:
y_pred=y_pred.astype(int)
y_pred

array([1, 1, 0, ..., 1, 1, 1])

In [243]:
y_test

array([1, 1, 0, ..., 1, 1, 1], dtype=int64)

In [247]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(accuracy_score(y_test, y_pred))

[[11246     0]
 [    1 23822]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     11246
           1       1.00      1.00      1.00     23823

    accuracy                           1.00     35069
   macro avg       1.00      1.00      1.00     35069
weighted avg       1.00      1.00      1.00     35069

0.9999714847871339

In [37]:
from sklearn.tree import export_graphviz
import pydot

In [38]:
tree = regressor.estimators_[5]

In [45]:
export_graphviz(tree, out_file = 'tree.dot', feature_names = list(dataset.columns[0:40]), rounded = True, precision = 1)

In [46]:
(graph, ) = pydot.graph_from_dot_file('tree.dot')

In [47]:
graph.write_png('tree.png')